body{
    
}

.header2{
    padding-bottom: 20px;
}

.cook-title{
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 50px;
}
.cook-title span{
    color: #D67E35;
}

.cook-content{
    display: flex;
    justify-content: space-around;
}