
@{
    ViewData["Title"] = "Про нас";
    
}

<body>
    
<div class="header2">
    <div class="container"> 
        <div class="header-line">
            <div class="header-logo">
                <img src="~/lib/LOGO.png" alt="logo">
            </div>
                
            <div class="nav">
                <a class="nav-item" asp-controller="Home" asp-action="Index">ГОЛОВНА</a>
                <a class="nav-item" asp-controller="Menu" asp-action="Index">МЕНЮ</a>
                <a class="nav-item" asp-controller="About" asp-action="Index">ПРО НАС</a>
                <a class="nav-item" asp-controller="Reservation" asp-action="Index">ЗАМОВЛЕННЯ</a>
            </div>
                
            <div class="cart">
                <a href="*">
                    <img class="cart-img" src="lib/cart.png" alt="cart">
                </a>
            </div>
                
            <div class="phone">
                <div class="phone-holder">
                    <div class="phone-img">
                        <img src="lib/phone.png"></img>
                    </div>
                    <div class="number"><a class="num" asp-controller="" asp-action="">+380-99-755-17-02</a></div>
                </div>
                    
                <div class="phone-text">Зателефонуйте нам для <br> бронювання</div>
            </div>
                
            <div class="btn">
                <a class="button" asp-controller="Order" asp-action="Index" >Замовити бургер</a>
            </div>
        </div>
        
    </div>
</div>


<div class="cook">
    
    <div class="container">
        
        <div class="cook-title">
            Наші <span>Кухарі</span>
        </div>
        
        <div class="cook-content">
            <img src="lib/1cooker.png"  />
            <img src="lib/2coocker.png" />
            <img src="lib/3coocker.png" />
        </div>
        
    </div>
    
</div>









</body>